.containParagraphe{
    height: 15%;
    background-image: url(../Wallpaper/wallpaper2you_212133.jpg);
}
.containarticleselected{
    display: flex;
    flex-direction: column;
}
.articleMixedWithText{
    display: flex;
    flex-direction: column;
    margin: 20px 20%;
}
#title_Article{
    text-align: center;
    margin: 5% 0px;
    color: black;
    font-size: 100px;
}
#article_text{
    margin: 20px 3%;
    font-size: 15px;
}
.partager{
    display: grid;
    grid-template-columns: 0.6fr 0.2fr;
}
#share{
    text-align: center;
}