.third{
	
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.521);
    position: absolute;
    opacity: 1;
    top: 20px;
    justify-content: center;
    align-items: center;
    display: none;
    
}

.content{
    background-color: white;
    width: 500px;
    height: 510px;
    position: relative;
	border-radius: 10px;
    opacity: 2;
}


.close{
    position: absolute;
    right: 10px;
    transform: rotate(45deg);
    cursor: pointer;
    font-size: 40px;
}
#paragraphe_popup{
    background-color: aqua;
}